<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="in-id" lang="in-id">
<head>
</head>
<body>
	<form method='post' url="{$host}home/crud_na/" id="form_{$main}" enctype="multipart/form-data">
		<div style="padding:10px;">
			<div style="float:left;width:45%;margin-right:5px;">
			<fieldset>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td width='34%'>Activity Center</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<select name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox"></select>
						</td>
					</tr>
					<tr>
						<td width='34%'></td>
						<td width='1%'>:</td>
						<td width='75%'>
							<select name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox"></select>
						</td>
					</tr>
					<tr>
						<td width='34%'></td>
						<td width='1%'>:</td>
						<td width='75%'>
							<select name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox"></select>
						</td>
					</tr>
					<tr>
						<td width='34%'></td>
						<td width='1%'>:</td>
						<td width='75%'>
							<select name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox"></select>
						</td>
					</tr>
					<tr>
						<td width='34%'></td>
						<td width='1%'>:</td>
						<td width='75%'>
							<select name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox"></select>
						</td>
					</tr>
					<tr>
						<td width='34%'></td>
						<td width='1%'>:</td>
						<td width='75%'>
							<select name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox"></select>
						</td>
					</tr>
					<tr>
						<td width='34%'></td>
						<td width='1%'>:</td>
						<td width='75%'>
							<select name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox"></select>
						</td>
					</tr>
					<tr>
						<td width='34%'></td>
						<td width='1%'>:</td>
						<td width='75%'>
							<select name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox"></select>
						</td>
					</tr>
					<tr>
						<td width='34%'></td>
						<td width='1%'>:</td>
						<td width='75%'>
							<select name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox"></select>
						</td>
					</tr>
					<tr>
						<td width='34%'>&nbsp;</td>
						<td width='1%'></td>
						<td width='75%'>
							
						</td>
					</tr>
					<tr>
						<td width='34%'>&nbsp;</td>
						<td width='1%'></td>
						<td width='75%'>
							
						</td>
					</tr>
					<tr>
						<td width='34%'>&nbsp;</td>
						<td width='1%'></td>
						<td width='75%'>
							
						</td>
					</tr>
					<tr>
						<td width='34%'>&nbsp;</td>
						<td width='1%'></td>
						<td width='75%'>
							
						</td>
					</tr>
					
				</table>
				
				<fieldset>
					<table width='100%' style='margin-bottom:20px;'>
						<tr>
							<td width='34%'>Total Cost</td>
							<td width='1%'>:</td>
							<td width='75%'>
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
						<tr>
							<td width='34%'>Scenario Change</td>
							<td width='1%'>:</td>
							<td width='75%'>
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
					</table>
				</fieldset>
			</fieldset>
			
			
			
			</div>
			
			<div style="float:left;width:50%">
			<fieldset>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td >Value Add</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td >Head Count</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td >Budget Type</td>
						<td width='1%'>:</td>
						<td >
							<select name="" id="" style='width:95%;padding:2px;' class="easyui-validatebox"></select>
						</td>
						<td >FTE</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
				</table>
			</fieldset>
			
			<fieldset>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td colspan="6" align="center" >Activity Driver</td>
					</tr>
					<tr>
						<td >Driver</td>
						<td width='1%'>:</td>
						<td colspan="4">
							<select name="" id="" style='width:97%;padding:2px;' class="easyui-validatebox"></select>
						</td>
						
					</tr>
					<tr>
						<td >Quantity</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td >Rate</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
				</table>
			</fieldset>
			
			<fieldset>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td colspan="6" align="center" >Capacity</td>
					</tr>
					<tr>
						<td >Capacity</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td >Rate</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td >%Uttilized</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td >Excess $</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
				</table>
			</fieldset>
			
			<fieldset>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td colspan="6" align="center" >Resource Driver</td>
					</tr>
					<tr>
						<td >Driver</td>
						<td width='1%'>:</td>
						<td colspan="4">
							<select name="" id="" style='width:97%;padding:2px;' class="easyui-validatebox"></select>
						</td>
						
					</tr>
					<tr>
						<td >Quantity</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td >Rate</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
				</table>
			</fieldset>
			
			</div>
		</div>
	</form>
</body>
</html>
<script>
	
</script>