<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="in-id" xmlns="http://www.w3.org/1999/xhtml" lang="in-id">
<head>
</head>
<body>
	<div id="panel_{$main}" style="padding:5px;">
		<div id="tab_{$main}"></div>
	</div>
</body>
</html>
<script>
	var tab_array=["Detil","Advance","Employees","Expenses","Activity Resource",
				   "Used In","Processes","Cost Object","Item Master","Root Couse","Measures"
				  ];
	genTab('#tab_{$main}','{$mod}','{$main}',tab_array,'#panel_{$main}','Detil Modul');
</script>