<fieldset>
<center>
<label>Activity Code </label> : {$data.activity_code|default:'-'}
<label>Activity Name </label> : {$data.descript|default:'-'}
</center>
</fieldset>
<div id="panel_{$main}" style="padding:5px;">
	<div id="tab_{$main}"></div>
</div>
<script>
	var tab_array=["From Employees","From Assets","From Expanses","From Activity","To Activity"];
	var id_act={$id_act};
	genTab('#tab_{$main}','{$mod}','{$main}',tab_array,'','Detil Modul','',getClientHeight()-250,getClientHeight()-325,getClientWidth()-293,getClientWidth()-310);
</script>