<div id="" style="float:left;width:100%">
			<fieldset >
				<legend>Activity Attribute</legend>
				
				<form method='post' url="{$host}home/simpansavedata/tbl_acm_master" id="form_{$main}" enctype="multipart/form-data">
				<input type="hidden" name="editstatus" id="editstatus" value='edit'>
				<input type="hidden" name="id" id="id2" value='{$data.id|default:''}'>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td >
							<fieldset>
							<table cellpadding="2" cellspacing="1">
								<tr>
									<td width='40%'>Budget Type</td>
									<td width='5%'>:</td>
									<td ><input type="radio" name="budget_type" value="Fixed" {if $data.budget_type eq 'Fixed'}checked{/if}>&nbsp;Fixed</td>
									<td ><input type="radio" name="budget_type" value="Variable" {if $data.budget_type eq 'Variable'}checked{/if}>&nbsp;Variable</td>
									<td ><input type="radio" name="budget_type" value="Step" {if $data.budget_type eq 'Step'}checked{/if}>&nbsp;Step</td>
								</tr>
							</table>
							</fieldset>
						</td>
						<td width='1%'></td>
						<td >
							<fieldset>
							<table cellpadding="2" cellspacing="1">
								<tr>
									<td width='50%'>Cost Type</td>
									<td width='5%'>:</td>
									<td><input type="radio" name="cost_type" value="Unit" {if $data.cost_type eq 'Unit'}checked{/if}>&nbsp;Unit</td>
									<td><input type="radio" name="cost_type" value="Batch" {if $data.cost_type eq 'Batch'}checked{/if}>&nbsp;Batch</td>
									<td><input type="radio" name="cost_type" value="Product" {if $data.cost_type eq 'Product'}checked{/if}>&nbsp;Product</td>
									<td><input type="radio" name="cost_type" value="Facility" {if $data.cost_type eq 'Facility'}checked{/if}>&nbsp;Facility</td>
								</tr>
							</table>
							</fieldset>
						</td>
						
					</tr>
					<tr>
						<td colspan="3">
							<fieldset>
							<table width="100%" cellpadding="2" cellspacing="1">
								<tr>
									<td width='10%'>Segment</td>
									<td width='1%'>:</td>
									<td >
										<select name="cl_segment_id" style='width:80%;padding:2px;'>
											<option value=""> -- Choice -- </option>
											{foreach from=$segment item=i}
											<option value="{$i.id}" {if $data.cl_segment_id eq $i.id}selected{/if}>{$i.segment}</option>
											{/foreach}
										</select>
										
									</td>
								</tr>
								<tr>
									<td >Center</td>
									<td width='1%'>:</td>
									<td >
										<select name="cl_center_id" style='width:80%;padding:2px;'>
											<option value=""> -- Choice -- </option>
											{foreach from=$center item=i}
											<option value="{$i.id}" {if $data.cl_center_id eq $i.id}selected{/if}>{$i.center_name}</option>	
											{/foreach}
										</select>
										
									</td>
								</tr>
								<tr>
									<td >Class</td>
									<td width='1%'>:</td>
									<td >
										<select name="cl_class_id" style='width:80%;padding:2px;'>
											<option value=""> -- Choice -- </option>
											{foreach from=$class item=i}
											<option value="{$i.id}" {if $data.cl_class_id eq $i.id}selected{/if}>{$i.class_name}</option>	
											{/foreach}
										</select>
									</td>
								</tr>
								<tr>
									<td >Improvment</td>
									<td width='1%'>:</td>
									<td >
										<select name="cl_improvment_id" style='width:80%;padding:2px;'>
											<option value=""> -- Choice -- </option>
											{foreach from=$improvment item=i}
												<option value="{$i.id}" {if $data.cl_improvment_id eq $i.id}selected{/if}>{$i.improvment_name}</option>	
											{/foreach}
										</select>
									</td>
								</tr>
							</table>
							</fieldset>
						</td>
					</tr>
				</table>
						{include file='template/button.html' id='simpan_attr' text='Save' icon='save' click=''}
						{include file='template/button.html' id='clear_attr' text='Back To List' icon='cancel' click=''}
						
				</form>
				
			</fieldset>
			</div>
			
	<script>
	$('#clear_attr').bind('click',function(){
		$('#daftar_grid').show();
		$('#detil_grid').hide();
	});
	$('#simpan_attr').bind('click',function(){
		//alert('aaa');
		submit_form('form_{$main}',function(r){
			//console.log(r);
			if(r==1){
				winLoadingClose();
				$.messager.alert('ABC System',"Data Was Saved",'info');
			}
			else{
				winLoadingClose()
				$.messager.alert('ABC System',"Data NOT SAVED",'error');
				console.log(r);
			}
		});
	});
</script>