<div id="" style="float:left;width:100%">
			<fieldset >
				<legend>Activity Cost</legend>
				
				<form method='post' url="{$host}home/simpansavedata/tbl_acm_master" id="form_{$main}" enctype="multipart/form-data">
				<input type="hidden" name="editstatus" id="editstatus" value='edit'>
				<input type="hidden" name="id" id="id" value='{$data.id|default:''}'>
				<input type="hidden" name="tbl_model_id" id="tbl_model_id" value='{$data.tbl_model_id|default:$model.id}'>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td >Cost</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.total_cost|number_format:2:'.':','|default:'-'}
						</td>
						<td >Activity Driver</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.act_driver|default:'-'}
						</td>
					</tr>
					<tr>
						<td >Fixed Cost</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.fixed_cost|default:'-'}
						</td>
						<td >Actual Quantity</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.rd_tot_qty|default:'-'}
						</td>
					</tr>
					<tr>
						<td >Variable Cost</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.variable_cost|default:'-'}
						</td>
						<td >Cost Rate</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							
							{if $data.total_cost|default:'' neq '' && $data.rd_tot_qty|default:'' neq ''}
								{($data.total_cost / $data.rd_tot_qty)|number_format:2:'.':','}
							{else}
								-
							{/if}
							&nbsp;&nbsp;
							Utilsation &nbsp;
							{$data.utilisation|default:'-'}
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
						</td>
					</tr>
					<tr>
						<td >FTE</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.fte|default:'-'}
						</td>
						<td >Capacity</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.capacity|default:''}" name="capacity" id="capacity" style='width:30%;padding:2px;' maxlength="10" class="easyui-validatebox number" onkeyup="$('#cap_rate').html(NumberFormat({$data.total_cost|default:'0'}/$(this).val()))">&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td >Head Count</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.head_count|default:'-'}
						</td>
						<td >Capacity Rate</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							
							<span id="cap_rate">{$data.cap_rate_1|number_format:2:'.':','|default:'-'}</span>
						</td>
					</tr>
					<tr>
						<td >Budget</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.budget|default:''}" name="budget" id="budget" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox number">
						</td>
						<td >Target Quantity</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.quantity|default:''}" name="quantity" id="quantity" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox number" onkeyup="$('#tar_rate').html(NumberFormat({$data.total_cost|default:'0'}/$(this).val()))">
						</td>
					</tr>
					<tr>
						<td >Standart</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.standart|default:''}" name="standart" id="standart" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox number">
							
						</td>
						<td >Target Rate</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox"--> &nbsp;&nbsp;
							<span id="tar_rate"></span>
							Performance &nbsp;
							{$data.performance|default:'-'}
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
						</td>
					</tr>
					
				</table>
						{include file='template/button.html' id='simpan_cost' text='Save' icon='save' click=''}
						{include file='template/button.html' id='close_cost' text='Back To List' icon='cancel' click=''}
						
				</form>
				
			</fieldset>
			
	</div>
<script>
	$('#capacity').trigger('keyup');
	$('#quantity').trigger('keyup');
	$('.number').numberbox({
		    min:0,
			precision:2,
			groupSeparator:'.',
			decimalSeparator:','
	});
	$('#close_cost').bind('click',function(){
		$('#daftar_grid').show();
		$('#detil_grid').hide();
	});
	$('#simpan_{$main}').bind('click',function(){
		//alert('aaa');
		submit_form('form_{$main}',function(r){
			//console.log(r);
			if(r==1){
				winLoadingClose();
				$.messager.alert('ABC System',"Data Was Saved",'info');
			}
			else{
				winLoadingClose()
				$.messager.alert('ABC System',"Data NOT SAVED",'error');
				console.log(r);
			}
		});
	});
</script>