<div id="" style="float:left;width:100%">
			<fieldset >
				<legend>Activity Cost</legend>
				
				<form method='post' url="{$host}home/simpansavedata/tbl_acm_master" id="form_{$main}" enctype="multipart/form-data">
				<input type="hidden" name="editstatus" id="editstatus" value='edit'>
				<input type="hidden" name="id" id="id" value='{$data.id|default:''}'>
				<input type="hidden" name="tbl_model_id" id="tbl_model_id" value='{$data.tbl_model_id|default:$model.id}'>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td >Cost</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.total_cost|number_format:2:'.':','|default:'-'}
						</td>
						<td >Activity Driver</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							<select name="tbl_cdm_id" style='width:80%;padding:2px;'>
								<option value=""> -- Choice -- </option>
								{foreach from=$cdm item=i}
								<option value="{$i.id}" {if $data.tbl_cdm_id eq $i.id}selected{/if}>{$i.descript}</option>
								{/foreach}
							</select>
						</td>
					</tr>
					<tr>
						<td >Fixed Cost</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.fixed_cost|default:'-'}
						</td>
						<td >Actual Quantity</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.quantity|default:''}" name="quantity" id="quantity" style='width:30%;padding:2px;' maxlength="10" class="easyui-validatebox number" 
								onkeyup="">
						</td>
					</tr>
					<tr>
						<td >Variable Cost</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data_cost.variable_cost|number_format:2:'.':','|default:'-'}
						</td>
						<td >Cost Rate</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							<span id="cost_rate">-</span>
							&nbsp;&nbsp;
							Utilsation &nbsp;
							<span id="uti">-</span>
							
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
						</td>
					</tr>
					<tr>
						<td >FTE</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data_cost.fte|number_format:2:'.':','|default:'-'}
						</td>
						<td >Capacity</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.capacity|default:''}" name="capacity" id="capacity" style='width:30%;padding:2px;' maxlength="10" class="easyui-validatebox number" 
								>&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td >Head Count</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.head_count|default:'-'}
						</td>
						<td >Capacity Rate</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							
							<span id="cap_rate">{$data.cap_rate_1|number_format:2:'.':','|default:'-'}</span>
						</td>
					</tr>
					<tr>
						<td >Budget</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.budget|default:''}" name="budget" id="budget" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox number">
						</td>
						<td >Target Quantity</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.target_quantity|default:''}" name="target_quantity" id="target_quantity" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox number" onkeyup="">
						</td>
					</tr>
					<tr>
						<td >Standart</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.standart|default:''}" name="standart" id="standart" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox number">
							
						</td>
						<td >Target Rate</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox"--> &nbsp;&nbsp;
							<span id="tar_rate"></span>
							Performance &nbsp;
							<span id="perform"></span>
							
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
						</td>
					</tr>
					
				</table>
						{include file='template/button.html' id='simpan_cost' text='Save' icon='save' click=''}
						{include file='template/button.html' id='close_cost' text='Back To List' icon='cancel' click=''}
						
				</form>
				
			</fieldset>
			
	</div>
<script>
	
	$('#capacity').numberbox({
		    min:0,
			precision:2,
			groupSeparator:'.',
			decimalSeparator:',',
			onChange:function(){
				
				$('#cap_rate').html(get_cap_rate({$data.total_cost|default:'0'},$(this).val()));
				$('#uti').html(get_uti($('#quantity').val(),$(this).val()));
			}
			
	});
	$('#quantity').numberbox({
		    min:0,
			precision:2,
			groupSeparator:'.',
			decimalSeparator:',',
			onChange:function(){
				
				$('#cost_rate').html(get_cost_rate({$data.total_cost|default:'0'},$(this).val()));
			}
			
	});
	$('#target_quantity').numberbox({
		    min:0,
			precision:2,
			groupSeparator:'.',
			decimalSeparator:',',
			onChange:function(){
				$('#tar_rate').html(get_target_rate({$data.total_cost|default:'0'},$(this).val()));
				$('#perform').html(get_perform($('#quantity').val(),$(this).val()));
				
			}
			
	});
	$('#capacity').trigger('change');
	//$('#target_quantity').trigger('keyup');
	//$('#quantity').trigger('keyup');
	$('#cap_rate').html(get_cap_rate({$data.total_cost|default:'0'},$('#capacity').val()));
	$('#uti').html(get_uti($('#quantity').val(),$('#capacity').val()));
	$('#cost_rate').html(get_cost_rate({$data.total_cost|default:'0'},$('#quantity').val()));
	$('#tar_rate').html(get_target_rate({$data.total_cost|default:'0'},$('#target_quantity').val()));
	$('#perform').html(get_perform($('#quantity').val(),$('#target_quantity').val()));
	$('.number').numberbox({
		    min:0,
			precision:2,
			groupSeparator:'.',
			decimalSeparator:','
	});
	
	
	
	$('#close_cost').bind('click',function(){
		$('#daftar_grid').show();
		$('#detil_grid').hide();
	});
	$('#simpan_{$main}').bind('click',function(){
		//alert('aaa');
		submit_form('form_{$main}',function(r){
			//console.log(r);
			if(r==1){
				winLoadingClose();
				$.messager.alert('ABC System',"Data Was Saved",'info');
			}
			else{
				winLoadingClose()
				$.messager.alert('ABC System',"Data NOT SAVED",'error');
				console.log(r);
			}
		});
	});
</script>