<div id="" style="float:left;width:100%">
			<fieldset >
				<legend>Activity Cost</legend>
				
				<form method='post' url="{$host}home/simpansavedata/tbl_acm_wizard" id="form_{$main}" enctype="multipart/form-data">
				<input type="hidden" name="editstatus" id="editstatus" value='add'>
				<input type="hidden" name="id" id="id" value='{$data.id|default:''}'>
				<input type="hidden" name="tbl_model_id" id="tbl_model_id" value='{$data.tbl_model_id|default:$model.id}'>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td >Cost</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.total_cost|number_format:2:'.':','}
						</td>
						<td >Activity Driver</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.act_driver|default:'-'}
						</td>
					</tr>
					<tr>
						<td >Fixed Cost</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.fixed_cost|default:'-'}
						</td>
						<td >Actual Quantity</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.rd_tot_qty|default:'-'}
						</td>
					</tr>
					<tr>
						<td >Variable Cost</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.variable_cost|default:'-'}
						</td>
						<td >Cost Rate</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							
							{if $data.total_cost|default:'' neq '' && $data.rd_tot_qty|default:'' neq ''}
								{($data.total_cost / $data.rd_tot_qty)|number_format:2:'.':','}
							{else}
								-
							{/if}
							&nbsp;&nbsp;
							Utilsation &nbsp;
							{$data.utilisation|default:'-'}
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
						</td>
					</tr>
					<tr>
						<td >FTE</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.fte|default:'-'}
						</td>
						<td >Capacity</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.capacity|default:''}" name="capacity" id="capacity" style='width:30%;padding:2px;' maxlength="10" class="easyui-validatebox" onkeyup="$('#cap_rate').html({$data.total_cost}/$(this).val())">&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td >Head Count</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							{$data.head_count|default:'-'}
						</td>
						<td >Capacity Rate</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
							
							<span id="cap_rate">{$data.cap_rate_1|number_format:2:'.':','}</span>
						</td>
					</tr>
					<tr>
						<td >Budget</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.budget_amt|default:''}" name="budget_amt" id="budget_amt" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox">
						</td>
						<td >Target Quantity</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.quantity|default:''}" name="quantity" id="quantity" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox" onkeyup="$('#tar_rate').html({$data.total_cost}/$(this).val())">
						</td>
					</tr>
					<tr>
						<td >Standart</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="{$data.standart|default:''}" name="standart" id="standart" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox">
							
							
						</td>
						<td >Target Rate</td>
						<td width='1%'>:</td>
						<td >
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox"--> &nbsp;&nbsp;
							<span id="tar_rate"></span>
							Performance &nbsp;
							{$data.performance|default:'-'}
							<!--input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox"-->
						</td>
					</tr>
					
				</table>
						{include file='template/button.html' id='simpan_act' text='Save' icon='save' click=''}
						{include file='template/button.html' id='clear_act' text='Clear' icon='cancel' click=''}
						
				</form>
				
			</fieldset>
			</div>