<table width="100%" id="ver-zebra" style="width:90%">
	 <colgroup>
    	<col class="vzebra-odd" />
    	<col class="vzebra-even" />
    	<col class="vzebra-odd" />
        <col class="vzebra-even" />
		<col class="vzebra-odd" />
    </colgroup>
	<thead>
		<tr>
			<th id="vzebra-comedy" scope="col">Employee Name</th>
			<th id="vzebra-adventure" scope="col">Resource Driver</th>
			<th id="vzebra-comedy" scope="col">Quantity</th>
			<th id="vzebra-adventure" scope="col">Proportion</th>
			<th id="vzebra-comedy" scope="col">Amount</th>
		</tr>
	</thead>
	<tbody>
		{*
		{foreach from=$data item=i}
		<tr>
			<td>{$i.account}</td>
			<td>{$i.name_na}</td>
			<td>{$i.amount|number_format:2:".":","}</td>
			<td>{$i.fte_na|default:'-'}</td>
			<td>{$i.fte_cost|number_format:2:".":","}</td>
		</tr>
		{/foreach}
		*}
		<tr>
			<td>XXX&nbsp;</td>
			<td align="right">99&nbsp;</td>
			<td align="right">&nbsp;</td>
			<td align="right">&nbsp;</td>
			<td align="right">&nbsp;</td>
		</tr>
		<tr>
			<td>YYY&nbsp;</td>
			<td align="right">99&nbsp;</td>
			<td align="right">&nbsp;</td>
			<td align="right">&nbsp;</td>
			<td align="right">&nbsp;</td>
		</tr>
		<tr>
			<td>ZZZ&nbsp;</td>
			<td align="right">99&nbsp;</td>
			<td align="right">&nbsp;</td>
			<td align="right">&nbsp;</td>
			<td align="right">&nbsp;</td>
		</tr>
		<tr style="border-top:1px solid ">
			<td>Total Cost</td>
			<td >&nbsp;</td>
			<td>Total</td>
			<td align="right">100%</td>
			<td align="right">999.999.999.99</td>
		</tr>
	</tbody>
</table>
