<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="in-id" xmlns="http://www.w3.org/1999/xhtml" lang="in-id">
<head>
</head>
<body>
	<div id="daftar_grid" style="padding:10px;margin-right:10px;">
		<div id="input" style="float:left;width:100%;display:none;">
			<fieldset >
				<legend>Input (Defined Activity)</legend>
				
				<form method='post' url="{$host}home/simpansavedata/tbl_acm_wizard" id="form_{$main}" enctype="multipart/form-data">
				<input type="hidden" name="editstatus" id="editstatus" value='add'>
				<input type="hidden" name="id" id="id" value='{$data.id|default:''}'>
				<input type="hidden" name="tbl_model_id" id="tbl_model_id" value='{$data.tbl_model_id|default:$model.id}'>
				<table width='100%' style='margin-bottom:20px;'>
							<tr>
								<td width='34%'>Activity Code</td>
								<td width='1%'>:</td>
								<td width='75%'>
									<input type="text" value="{$data.activity_code|default:''}" name="activity_code" id="activity_code" style='width:80%;padding:2px;' maxlength="10" class="easyui-validatebox">
								</td>
							</tr>
							<tr>
								<td width='34%' valign="top">Description</td>
								<td width='1%' valign="top">:</td>
								<td width='75%'>
									<textarea style='padding:2px;width:80%' name="descript" id="descript" rows="6">{$data.descript|default:''}</textarea>
								</td>
							</tr>
						</table>
						{include file='template/button.html' id='simpan_act' text='Save' icon='save' click=''}
						{include file='template/button.html' id='clear_act' text='Close' icon='cancel' click=''}
						
				</form>
				
			</fieldset>
			</div>
			
			
			<div id="data" style='float:left;width:100%'>
			<fieldset>
			<legend>LIST ACTIVITY</legend>
				<div id="grid_nya_{$main}">
					<div id="tb_list_act">
					<div style="margin-top:2px;margin-left:10px; width:100%; font-family:Arial, Helvetica, sans-serif;">
						Find Activity : <input type="text" value="" placeholder="Keyword To Find Activity" name="key_{$main}" id="key_{$main}" style='width:20%;padding:2px;' maxlength="10" class="easyui-validatebox">
						
						<a href="javascript:void(0)" class="l-btn l-btn-plain " group="" id="find_{$main}" onClick="" >
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">Find</span><span class="l-btn-icon icon-search"></span>
							</span>
						</a>
						<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="add_{$main}" >
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">Add</span><span class="l-btn-icon icon-add">&nbsp;</span>
							</span>
						</a>
						<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="edit_{$main}" >
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">Edit</span><span class="l-btn-icon icon-edit">&nbsp;</span>
							</span>
						</a>
						<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="del_{$main}" >
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">Delete</span><span class="l-btn-icon icon-remove">&nbsp;</span>
							</span>
						</a>
						<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="detil_{$main}" >
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">View Assigments</span><span class="l-btn-icon cost_object">&nbsp;</span>
							</span>
						</a>
						
						<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="genform('map_rdm_form', 'acm', 'map_rdm_acm', 'windowpanel', '{$main}');">
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">Map To RDM</span><span class="l-btn-icon icon-ok">&nbsp;</span>
							</span>
						</a>
						<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="" 
						onClick="$('#upload_{$acak}').show();$('#upload_{$acak}').window({ width:500,height:250,modal:true });">
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">Upload</span><span class="l-btn-icon arrow_up">&nbsp;</span>
							</span>
						</a>
						<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="dup_act_{$acak}" onClick="">
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">Duplicate Costing</span><span class="l-btn-icon kabupaten">&nbsp;</span>
							</span>
						</a>
					</div>
				</div>
					<div id='grid_{$main}'></div>
				</div>
			</fieldset>
			</div>
	</div>
	<div id="detil_grid" style="display:none;">
	</div>
	<div id="upload_{$acak}" style="display:none;">
		<div style="padding:15px;">
					<fieldset>
					<legend>Upload (Defined Activity)</legend>
					<form method='post' url="{$host}home/import_data/upload/acm/file_acm/temp_acm" id="form2_{$main}_{$acak}" enctype="multipart/form-data">
					<input type="hidden" name="bulan_upl" id="bulan_upl_{$acak}">
					<input type="hidden" name="tahun_upl" id="tahun_upl_{$acak}" >
					<label>Upload Activity</label>: <input type="file" name="file_acm" id="file_acm_{$acak}"><br><br>
					</form>
					{include file='template/button.html' id='upload_acm' text='Upload' icon='save' click='' style="float:right;"}
					{include file='template/button.html' id='download_acm' text='Download Template' icon='download' href='home/download_na/temp_acm' target="_blank" style="float:right;"}
					</fieldset>
					
		</div>	
	</div>
</body>
</html>
<script>
	var model='{$model.id}';
	$('#grid_nya_{$main}').css('height',(getClientHeight()-290));
	genGrid('list_act','grid_{$main}','','');
	
	$(".easyui-validatebox").validatebox({ required:true }); 
	$('#bulan_main').off('change');
	$('#bulan_main').on('change',function(){
		$('#grid_{$main}').datagrid('reload',{ 'bulan':$(this).val(),'tahun':$('#tahun_main').val() });
	});
	$('#tahun_main').off('change');
	$('#tahun_main').on('change',function(){
		$('#bulan_main').trigger('change');
	})
	$('#clear_act').bind('click',function(){
		clear_form('form_{$main}');
		$('#editstatus').val('add');
		$('#input').hide();
		$('#upload').hide();
		$('#data').show();
	});
	$('#find_{$main}').bind('click',function(){
		$('#grid_{$main}').datagrid('reload',{ key:$('#key_{$main}').val(),'bulan':$('#bulan_main').val(),'tahun':$('#tahun_main').val() });
	});
	
	$('#add_{$main}').bind('click',function(){
		$('#input').show();
		$('#upload').hide();
		$('#data').hide();
	});
	$('#dup_act_{$acak}').bind('click',function(){
		var total=grid_nya.datagrid('getData');
		if(total.total > 0){
			genform('duplicate_costing_act','activity','duplicate_costing');
		}
		else{
			$.messager.confirm('ABC System','No Data In This Period, Do You Want To Get Data In First Period ?',function(r){
				if(r){
					loadingna();
					$.post(host+'home/copy_act',{ bulan:$('#bulan_main').val(),tahun:$('#tahun_main').val() },function(resp){
						if(resp==1){
							$.messager.alert('ABC System', "Data Was Copied", 'info');
							winLoadingClose();
							grid_nya.datagrid('reload');
						}
						else if(resp==2){
							$.messager.alert('ABC System', "No Data In Last Period, Please Upload Or Insert Data Activity", 'error');
							winLoadingClose();
							console.log(resp);
						}
						else{
							$.messager.alert('ABC System', "No Data Activity In New Period", 'error');
							winLoadingClose();
							console.log(resp);
						}
					});
				}
			});
		}
	});
	$('#edit_{$main}').bind('click',function(){
		var row = $('#grid_{$main}').datagrid('getSelected');
			if(row){
				$('#input').show();
				$('#upload').hide();
				$('#data').hide();
			}
			else{
				$.messager.alert('ABC System',"Select Row In Grid",'error');
			}
		
	});
	$('#detil_{$main}').bind('click',function(){
		var row = $('#grid_{$main}').datagrid('getSelected');
			if(row){
				$('#daftar_grid').hide();
				$('#detil_grid').show();
				$('#detil_grid').addClass('loading').html('');
				$.post(host+"home/modul/activity/main_detil",{ id:row.id },function(r){
					$('#detil_grid').removeClass('loading').html(r);
				});
			}
			else{
				$.messager.alert('ABC System',"Select Row In Grid",'error');
			}
		
	});
	
	$('#del_{$main}').bind('click',function(){
		
	});
	
	$('#simpan_act').bind('click',function(){
		if(model==0){
			$.messager.alert('ABC System',"Please Activate Your Model!!!",'error');
		}
			else{
			if ($('#form_{$main}').form('validate')){
				
				loadingna();
				submit_form('form_{$main}',function(r){
					if(r==1){
						winLoadingClose();
						$.messager.alert('ABC System',"Data Was Saved",'info');
						closeWindow();
						$('#grid_{$main}').datagrid('reload');
						$('#clear_act').trigger('click');
					}
					else{
						winLoadingClose()
						$.messager.alert('ABC System',"Data NOT SAVED",'error');
						console.log(r);
					}
				});
			}
			else{
				$.messager.alert('ABC System',"Fill In The Blank",'error');
			}
		}
	});
	$('#next2').bind('click',function(){
		if(model==0){
			$.messager.alert('ABC System',"Please Activate Your Model!!!",'error');
		}
		else{
			$('#step_2').html('');
			$('#step_2').show();
			$('#step_1').hide();
			$.post(host+'home/modul/model/config_act',function(r){
				$('#step_2').html(r);
			});
		}
	});
	
	$('#upload_acm').bind('click',function(){
		if(model==0){
			$.messager.alert('ABC System',"Please Activate Your Model!!!",'error');
		}
		else{
			if($('#file_acm_{$acak}').val()!=''){
				$('#bulan_upl_{$acak}').val($('#bulan_main').val());
				$('#tahun_upl_{$acak}').val($('#tahun_main').val());
				console.log($('#bulan_upl_{$acak}').val());
				loadingna();
				submit_form('form2_{$main}_{$acak}',function(r){
					if(r==1){
						
						winLoadingClose();
						$.messager.alert('ABC System', "Data Was Saved", 'info');
						$('#upload_{$acak}').window('close');
						$("#grid_{$main}").datagrid('reload');
						
					}else{
						winLoadingClose();
						$.messager.alert('ABC System', "Data Not Saved", 'error');
						console.log(r);
					}
				});
				
				//return false;
			}
			else{
				winLoadingClose();
				$.messager.alert('ABC System', "Please Select Your File Upload", 'error');
			}
		}
	});
</script>