<div id="panel_{$main}" >
	<div id="tab_{$main}"></div>
</div>

<script>
	var tab_array=["Detail","Assigment"];
	genTab('#tab_{$main}','{$mod}','{$main}',tab_array,'','Detil Modul','',getClientHeight()-175,getClientHeight()-175,getClientWidth()-280,getClientWidth()-288);
</script>
    <!--div style="margin:20px 0">
        <a href="#" id="b1" class="easyui-linkbutton c6" style="width:120px">Detail</a>
        <a href="#" id="b2" class="easyui-linkbutton c6" style="width:120px">Assigment</a>
        
    </div>
	
<script>
	$('#b1').linkbutton({ iconCls:'activity',iconAlign:'left' });
	$('#b2').linkbutton({ iconCls:'activity',iconAlign:'left' });
</script-->