
<div id="tree_nya_{$main}">
	<div id="panel_tree">
	<div id='tree_{$main}'></div>
	</div>
</div>
<script>
var tree_act;
$('#x2').css('height',(getClientHeight()-250));
$('#x2').css('width',(450));
$('#tree_nya_{$main}').css('height',(getClientHeight()-350));
$('#bulan').off('change');
$('#panel_tree').panel({
    width:500,
    height:150,
    title:'Hierarky Activity',
	fit:true
}); 
	tree_act = $('#tree_{$main}').tree({
		checkbox: false,
		url:host+"home/getdata/tree_act",
		queryParams:{
			id_act:{$id_act},
			bulan:{$bulan},
			tahun:{$tahun},
		}
	});
	
</script>