<div style='width:100%;'>
	<fieldset>
		<label style='width:50px;'>Month</label>: {html_select_date prefix='bulan_period' start_year='+5' end_year='+5' display_days=false display_years=false all_extra='id="bulan_period" style="width:10%;padding:2px;"'}
		&nbsp;&nbsp;&nbsp;
		<label style='width:50px;'>Year</label>: {html_select_date prefix='tahun_period' start_year='+0' end_year='+5' display_days=false display_months=false all_extra='id="tahun_period" style="width:10%;padding:2px;"'}
	</fieldset>
</div>
<div style='float:left;width:46.1%;margin-right:5px;margin-bottom:5px;height:160px;'>
	<div id='master_prm'></div>
</div>
<div style='float:left;width:5%;margin-left:15px;'>
	<br/>
	<br/>
	<a href="javascript:void(0)" class="l-btn l-btn-small " group="" id="tranfer_dt" onClick="">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">&nbsp;</span><span class="l-btn-icon arrow_undo"></span>
		</span>
	</a> 
	<br/>
	<br/>
	<a href="javascript:void(0)" class="l-btn l-btn-small " group="" id="remove_dt" onClick="">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">&nbsp;</span><span class="l-btn-icon arrow_redo"></span>
		</span>
	</a>
</div>
<div style='float:left;width:47%;height:160px;'>
	<div id='master_cdm'></div>
</div>
<div style='float:left;width:100%;height:131.5%;'>
	<div id='tabel_prd'></div>
</div>

<script>
	genGrid('mst_prm','master_prm', 500, 160);
	genGrid('mst_cdm','master_cdm', 500, 160);
	genGridEditable('tbl_prd','tabel_prd', 500, 600,'tbl_are');
</script>
