<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="in-id" lang="in-id">
<head>
</head>
<body>
	<form method='post' url="{$host}home/crud_na/" id="form_{$main}" enctype="multipart/form-data">
		<div style="padding:10px;">
			
			
			<div style="float:left;width:100%">
			
			<fieldset>
					<table width='100%' style='margin-bottom:20px;'>
						<tr>
							<td >Class</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td >Unit</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td >Report Class</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td >Loss Factor</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
						
					</table>
				</fieldset>
			
			
			
			
			<fieldset>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td >Freight In</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td >Inventory Class</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td >Model</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td >Rating</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td >Qty Produced</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td >Stamping Line</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
				</table>
			</fieldset>
			
			<fieldset>
				<div style="float:left;margin-right:10px;width:60%">
				<fieldset>
					<table width='100%' style='margin-bottom:20px;'>
						<tr>
							<td ></td>
							<td width='1%'></td>
							<td align="center">
								This Level
							</td>
							<td width='1%'>&nbsp;</td>
							<td align="center">
								Rolled Up
							</td>
						</tr>
						<tr>
							<td >Material Cost</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td width='1%'>&nbsp;</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
						<tr>
							<td >Setup</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td width='1%'>&nbsp;</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
						<tr>
							<td >Direct Labor</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td width='1%'>&nbsp;</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
						<tr>
							<td >Activity Cost</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td width='1%'>&nbsp;</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
						<tr>
							<td >ABC Cost</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td width='1%'>&nbsp;</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
					</table>
				</fieldset>
				</div>
				
				
				<fieldset>
					<table width='100%' style='margin-bottom:20px;'>
						<tr>
							<td colspan="6" align="center" >&nbsp;</td>
						</tr>
						
						<tr>
							<td >Make</td>
							<td width='1%'>:</td>
							<td >
								<input type="radio" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td >Buy</td>
							<td width='1%'>:</td>
							<td >
								<input type="radio" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
						<tr>
							<td >Commodity Code</td>
							<td width='1%'>:</td>
							<td colspan="4">
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							
						</tr>
					</table>
				</fieldset>
				
				<fieldset>
					<table width='100%' style='margin-bottom:20px;'>
						
						<tr>
							<td >Unit Revenue</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							
						</tr>
						<tr>
							<td >Unit Profit</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
					</table>
				</fieldset>
			</fieldset>
			
			</div>
		</div>
	</form>
</body>
</html>
<script>
	
</script>