<form method='post' url="{$host}homex/simpansavedata/cl_user_group" id="form_{$main}_{$acak}" enctype="multipart/form-data">			
	<input type='hidden' name='id' value="{$data.id|default:''}">
	<input type='hidden' name='editstatus' value="{$editstatus}">
	
	<div style="width:100%;margin-right:5px;">
		<fieldset>
			<legend>Data Group User</legend>
			<table width='100%' style='margin-bottom:20px;'>
				<tr>
					<td width='30%'>Group Name</td>
					<td width='1%'>:</td>
					<td width='65%'>
						<input type='text' value="{$data.group_user|default:''}" name='group_user' id='group_user' class="easyui-validatebox" style='padding:2px; width:200px;'>
					</td>
				</tr>
				<tr>
					<td width='30%'>Status</td>
					<td width='1%'>:</td>
					<td width='65%'>
						<select name='status' id='status' class="easyui-validatebox" style='padding:2px; width:100px;'>
							{$status}
						</select>
					</td>
				</tr>				
			</table>
		</fieldset>
	</div>

</form>

<script>
	$(".easyui-validatebox").validatebox({ required:true }); 	
	$('#btnSimpan').on('click',function(){
		loadingna();
		submit_form('form_{$main}_{$acak}',function(r){
			if(r==1){
				$.messager.alert('ABC System', "Data Was Saved", 'info');
			}else{
				$.messager.alert('ABC System', "Data Not Saved", 'error');
			}
			
			windowFormClosePanel();
			$('#grid_702').datagrid('reload');
		});
		winLoadingClose();
		return false;
	});
	
</script>
