<div style='float:left;width:99%'>
	<fieldset>
	<label>Month</label>: {html_select_date prefix='bulan_emp' start_year='+5' end_year='+5' month_extra='11' display_days=false display_years=false all_extra='id="bulan" style="width:20%;padding:2px;margin-right:50px;"'}
	<label>Year</label>: {html_select_date prefix='tahun_emp' start_year='+0' end_year='+5' display_days=false display_months=false all_extra='id="tahun" style="width:20%;padding:2px;"'}
	</fieldset>
</div>

<script>
$('#bulan').val({$data_date.bulan|default:1})
$('#tahun').val({$data_date.tahun|default:2015})
</script>