<form method='post' url="{$host}homex/simpansavedata/tbl_loc" id="form_{$main}_{$acak}" enctype="multipart/form-data">			
	<input type='hidden' name='id' value="{$data.id|default:''}">
	<input type='hidden' name='editstatus' value="{$editstatus}">

	<div style="width:100%;margin-right:5px;">
		<fieldset>
			<legend>Location Detail</legend>
			<table width='100%' style='margin-bottom:20px;'>
				<tr>
					<td width='30%'>Location</td>
					<td width='1%'>:</td>
					<td width='65%'>
						<input type='text' value="{$data.location|default:''}" name='location' id='location' style='padding:2px; width:200px;'>
					</td>
				</tr>
				<tr>
					<td width='30%'>Location Name</td>
					<td width='1%'>:</td>
					<td width='65%'>
						<input type='text' value="{$data.loc_name|default:''}" name='loc_name' id='loc_name' style='padding:2px; width:200px;'>
					</td>
				</tr>
				<tr>
					<td width='30%'>Cost Center</td>
					<td width='1%'>:</td>
					<td width='65%'>
						<input type='text' value="{$data.costcenter|default:''}" name='costcenter' id='costcenter' style='padding:2px; width:200px;'>
					</td>
				</tr>
				<tr>
					<td width='30%'>Month</td>
					<td width='1%'>:</td>
					<td width='65%'>
						{include file='template/input_form.html' size='sedang' type='select' name='bulan' option={$bulan_form} } 
					</td>
				</tr>
				<tr>
					<td width='30%'>Years</td>
					<td width='1%'>:</td>
					<td width='65%'>
						{include file='template/input_form.html' size='sedang' type='select' name='tahun' option={$tahun_form} } 						
					</td>
				</tr>
				
			</table>
		</fieldset>
	</div>
</form>
<div style='margin-top:5px;'>
	<a href="javascript:void(0)" style='float:right;' class="l-btn l-btn-small l-btn-plain" group="" id="btnCancel_costcenter" onClick="">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Back To List</span><span class="l-btn-icon icon-remove">&nbsp;</span>
		</span>
	</a>	
	&nbsp;&nbsp;&nbsp;			
	<a href="javascript:void(0)" style='float:right;' class="l-btn l-btn-small l-btn-plain" group="" id="btnSimpan_costcenter" onClick="">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Save Data</span><span class="l-btn-icon icon-save">&nbsp;</span>
		</span>
	</a>
</div>


<script>
	$(".easyui-validatebox").validatebox({ required:true }); 
	$('.angka').numberbox({
		min:0,
		precision:0
	});
	
	$('#btnSimpan_costcenter').on('click',function(){
		if($('#loc_name').val() == ''){
			$.messager.alert('ABC System', "Location Name Can't Empty!", 'error');
			return false;
		}
		if($('#costcenter').val() == ''){
			$.messager.alert('ABC System', "Cost Center Can't Empty!", 'error');
			return false;
		}
		if($('#bulan').val() == ''){
			$.messager.alert('ABC System', "Month Can't Empty!", 'error');
			return false;
		}
		if($('#tahun').val() == ''){
			$.messager.alert('ABC System', "Year Can't Empty!", 'error');
			return false;
		}
		
		loadingna();
		submit_form('form_{$main}_{$acak}',function(r){
			if(r==1){
				$.messager.alert('ABC System', "Data Was Saved", 'info');
			}else{
				$.messager.alert('ABC System', "Data Not Saved", 'error');
			}			
			$('#detil_nya_cost_center').html('');
			$('#detil_nya_cost_center').hide();
			$('#grid_nya_cost_center').show();
			$('#grid_cost_center').datagrid('reload');
		});
		winLoadingClose();
		return false;
	});
	$('#btnCancel_costcenter').on('click',function(){
		$('#detil_nya_cost_center').html('');
		$('#detil_nya_cost_center').hide();
		$('#grid_nya_cost_center').show();
		$('#grid_cost_center').datagrid('reload');
		return false;
	});
	
	
</script>