<div style='float:left;width:50%;margin-right:5px;margin-bottom:10px;'>
	<div id='master_customers'></div>
</div>
<div style='float:left;width:45%'>
	<div style="width:10%;float:left;">
	<br/>
	<br/>
	<a href="javascript:void(0)" class="l-btn l-btn-small " group="" id="" onClick="">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">&nbsp;</span><span class="l-btn-icon icon-undo"></span>
		</span>
	</a> 
	<br/>
	<br/>
	<a href="javascript:void(0)" class="l-btn l-btn-small " group="" id="" onClick="">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">&nbsp;</span><span class="l-btn-icon icon-redo"></span>
		</span>
	</a>
	</div>
	<div style="width:50%;float:left;padding-top:30px;">
	<fieldset>
		<table width='100%' style='margin-bottom:20px;'>
			<tr>
				<td colspan="3" align="center">Filter Condition</td>
				
			</tr>
			<tr>
				<td width='34%'>Object Type</td>
				<td width='1%'>:</td>
				<td width='75%'>
					<Select name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox"></select>
				</td>
			</tr>
		</table>
	</fieldset>
	</div>
</div>

<div style='float:left;width:100%;height:125%;'>
	<div id='tabel_customers'></div>
</div>


<script>
	genGrid('mst_customers','master_customers', 500, 200);
	genGrid('tbl_customers','tabel_customers', 500, 600);
</script>