<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="in-id" lang="in-id">
<head>
</head>
<body>
	<form method='post' url="{$host}home/crud_na/" id="form_{$main}" enctype="multipart/form-data">
		<div style="padding:10px;">
			
			
			<div style="float:left;width:100%">
			<fieldset>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td >Freight</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td >Style</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td >Market Line</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td >Rating</td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
						<td ></td>
						<td width='1%'>:</td>
						<td >
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
				</table>
			</fieldset>
			
			<fieldset>
				<div style="float:left;margin-right:10px;width:60%">
				<fieldset>
					<table width='100%' style='margin-bottom:20px;'>
						<tr>
							<td colspan="6" align="center" >This Level</td>
						</tr>
						<tr>
							<td ></td>
							<td width='1%'></td>
							<td colspan="4">
								&nbsp;
							</td>
							
						</tr>
						<tr>
							<td >Activity Cost</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td >ABC Cost</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
					</table>
				</fieldset>
				</div>
				
				
				<fieldset>
					<table width='100%' style='margin-bottom:20px;'>
						<tr>
							<td colspan="6" align="center" >&nbsp;</td>
						</tr>
						<tr>
							<td ></td>
							<td width='1%'></td>
							<td colspan="4">
								&nbsp;
							</td>
							
						</tr>
						<tr>
							<td >Revenue</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td >Profitable</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
						
					</table>
				</fieldset>
				
				<fieldset>
					<table width='100%' style='margin-bottom:20px;'>
						<tr>
							<td colspan="6" align="center" >Rolled UP</td>
						</tr>
						
						<tr>
							<td >Quantity</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td >Unit Cost</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
						<tr>
							<td >Activity Cost</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
							<td >ABC Cost</td>
							<td width='1%'>:</td>
							<td >
								<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
							</td>
						</tr>
					</table>
				</fieldset>
			</fieldset>
			
			</div>
		</div>
	</form>
</body>
</html>
<script>
	
</script>