<div id="tabs_{$main}" style="width:500px;height:320px;">
    <div title="Detail" style="padding:10px;">
		<form method='post' url="{$host}homex/simpansavedata/tbl_emp" id="form_{$main}_{$acak}" enctype="multipart/form-data">			
			<input type='hidden' id='id_employee' name='id' value="{$data.id|default:''}">
			<input type='hidden' name='editstatus' value="{$editstatus}">
			<input type='hidden' id='bulan_employee' value="{$bulan}">
			<input type='hidden' id='tahun_employee' value="{$tahun}">
			
			<fieldset>
			<legend>Employee Detail</legend>
				<table width='100%'>
					<tr>
						<td width='50%'>
							{include file='template/input_form.html' size='sedang' type='select' tampilan='label' label='Cost Center' name='tbl_loc_id' option={$option_costcenter} } 
							{include file='template/input_form.html' size='sedang' type='text' tampilan='label' label='Employee ID' name='employee_id' value={$data.employee_id|default:''} }
							{include file='template/input_form.html' size='sedang' type='text' tampilan='label' label='Fullname' name='last' value={$data.last|default:''} }
							{include file='template/input_form.html' size='sedang' type='text' tampilan='label' label='Position' name='position' value={$data.position|default:''} }						
						</td>
						<td width='50%' valign='top'>
							{include file='template/input_form.html' size='sedang' type='select' tampilan='label' label='Month' name='bulan' option={$bulan_form} } 
							{include file='template/input_form.html' size='sedang' type='select' tampilan='label' label='Year' name='tahun' option={$tahun_form} } 						
						</td>
					</tr>
				</table>
				<table width='100%' style='margin-top:10px;'>
					<tr>
						<td width='50%'>
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Salary' class='duit' name='wages' value={$data.wages|default:''} }
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Benefits' class='duit' name='benefits' value={$data.benefits|default:''} }
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Overtime' class='duit' name='ot_premium' value={$data.ot_premium|default:''} }
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Other Cost' class='duit' name='budget_1' value={$data.budget_1|default:''} }
							<br/>
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Total Cost' readonly='readonly' name='' value={$data.budget_1|default:''} }
						</td>
						<td width='50%'>
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Head Count' name='head_count' value={$data.head_count|default:''} }
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Full Time Equivalent (FTE)' name='fte_count' value={$data.fte_count|default:''} }
							{include file='template/input_form.html' size='sedang' type='select' tampilan='label' label='Resource Driver' name='tbl_rdm_id' option={$option_resourcedriver} }
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Quantity' name='rd_tot_qty' value={$data.rd_tot_qty|default:''} }
							<br/>
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Cost Rate' readonly='readonly' name='' value={$data.budget_1|default:''} }
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
    </div>
	{if $editstatus eq 'edit'}
    <div title="Assigned Activity" style="overflow:auto;padding:10px;">
        <input type='hidden' id='total_percent_act_emp' value="{$total_percent_activity|default:''}">
		<table width='100%' style='margin-bottom:10px;'>
			<tr>
				<td width='50%' valign='top'>
					<label style='width:100px;'>Cost Center</label> : <span class='cost_centersss'></span>
					<br/>
					<label style='width:100px;'>Employee ID</label> : {$data.employee_id|default:''}
					<br/>
					<label style='width:100px;'>Fullname</label> : {$data.last|default:''}
					<br/>
				</td>
				<td width='50%' valign='top'>
					<label style='width:100px;'>Total Salary</label> : Rp. {$gaji|default:''}
					<br/>
					<label style='width:100px;'>Month</label> : <span class='monthhsss'></span>
					<br/>
					<label style='width:100px;'>Year</label> : <span class='yearrsss'></span>
					<br/>
					<font color='red'>*) Nilai Quantity Tidak Boleh Lebih Besar Dari Res. Driver Qty.</font>
				</td>
			</tr>
		</table>
		{include file='template/grid_editable.html' crud_table='tbl_are_assignment' main='assign_act_employee' mod={$mod} button_2='true' filter_core='false' tinggi_grid='265px' tinggi_toolbar='30px'}
		<div style='margin-top:3px;border: 1px solid #48A2CA;'>
			<table width='100%'>
				<tr>
					<td width='50%'>
						<table width='100%'>
							<tr>
								<td width='50%'><b>TOTAL PROPORTION</b></td>
								<td width='50%'><b><span id='total_percent_act_emp_txt'>{$total_percent_activity|default:''}</span> %</b></td>
							</tr>
						</table>
					</td>			
					<td width='50%'>
						<table width='100%'>
							<tr>
								<td width='50%'><b>TOTAL COST</b></td>
								<td width='50%'><b>Rp. <span id='cost_activity_employee'>{$total_activity}</span></b></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>    
	</div>
    <div title="Expense Source" style="overflow:auto;padding:10px;">
		<input type='hidden' id='total_percent_exp_emp' value="{$total_percent_expense|default:''}">
		<table width='100%' style='margin-bottom:20px;'>
			<tr>
				<td width='50%' valign='top'>
					<label style='width:100px;'>Cost Center</label> : <span class='cost_centersss'></span>
					<br/>
					<label style='width:100px;'>Employee ID</label> : {$data.employee_id|default:''}
					<br/>
					<label style='width:100px;'>Fullname</label> : {$data.last|default:''}
					<br/>
				</td>
				<td width='50%' valign='top'>
					<label style='width:100px;'>Month</label> : <span class='monthhsss'></span>
					<br/>
					<label style='width:100px;'>Year</label> : <span class='yearrsss'></span>
					<br/>
					<font color='red'>*) Nilai Quantity Tidak Boleh Lebih Besar Dari Res. Driver Qty.</font>
				</td>
			</tr>
		</table>
		{include file='template/grid_editable.html' crud_table='tbl_efx' main='expense_source_employee' mod={$mod} button_2='true' filter_core='false' tinggi_grid='265px' tinggi_toolbar='30px'}
		<div style='margin-top:3px;border: 1px solid #48A2CA;'>
			<table width='100%'>
				<tr>
					<td width='50%'>
						<table width='100%'>
							<tr>
								<td width='50%'><b>TOTAL PROPORTION</b></td>
								<td width='50%'><b><span id='total_percent_exp_emp_txt'>{$total_percent_expense|default:''}</span> %</b></td>
							</tr>
						</table>
					</td>			
					<td width='50%'>
						<table width='100%'>
							<tr>
								<td width='50%'><b>TOTAL COST</b></td>
								<td width='50%'><b>Rp. <span id='cost_expense_employee'>{$total_expense}</span></b></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>    
    </div>
	{/if}
</div>
<div style='margin-top:5px;'>
	<a href="javascript:void(0)" style='float:right;' class="l-btn l-btn-small l-btn-plain" group="" id="btnCancel_employee" onClick="">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Back To List</span><span class="l-btn-icon icon-remove">&nbsp;</span>
		</span>
	</a>	
	&nbsp;&nbsp;&nbsp;			
	<a href="javascript:void(0)" style='float:right;' class="l-btn l-btn-small l-btn-plain" group="" id="btnSimpan_employee" onClick="">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Save Data</span><span class="l-btn-icon icon-save">&nbsp;</span>
		</span>
	</a>
</div>

<script>
	//$(".duit").mask("999.999.999.999");
	$(document).ready(function() {
		$(".duit").maskMoney( 'mask' );
		$(".duit").maskMoney( { precision:0, thousands:'.' } );
	} );
	
	$('.cost_centersss').html($('#tbl_loc_id option:selected').text());
	$('.monthhsss').html($('#bulan option:selected').text());
	$('.yearrsss').html($('#tahun option:selected').text());

	$("#tabs_{$main}").tabs({
		height: getClientHeight()-190,
		width: getClientWidth()-280,
		plain: false,
		fit:true
	});
	
	$('#btnSimpan_employee').on('click',function(){
		loadingna();
		submit_form('form_{$main}_{$acak}',function(r){
			if(r==1){
				$.messager.alert('ABC System', "Data Was Saved", 'info');
			}else{
				$.messager.alert('ABC System', "Data Not Saved", 'error');
				console.log(r);
			}
			
			//$('#employees').addClass('loading');
			//$.post(host+'homex/modul/resource/employees', {},function(r){
			//	$('#employees').removeClass('loading').html(r);
			//});
			
			$('#detil_nya_employees').html('');
			$('#detil_nya_employees').hide();
			$('#grid_nya_employees').show();
			$('#grid_employees').datagrid('reload');
			
			winLoadingClose();
		});
		return false;
	});
	
	$('#btnCancel_employee').on('click',function(){
		$('#detil_nya_employees').html('');
		$('#detil_nya_employees').hide();
		$('#grid_nya_employees').show();
		$('#grid_employees').datagrid('reload');
		return false;
	});

</script>
