{if $editstatus eq 'add'}
	{assign var="tinggi_tab" value='280px'}
{else}
	{assign var="tinggi_tab" value='248px'}
{/if}

<div id="tabs_{$main}" style="width:500px;height:{$tinggi_tab};">
    <div title="Detail" style="overflow:auto;padding:10px;">
		<form method='post' url="{$host}homex/simpansavedata/tbl_exp" id="form_{$main}_{$acak}" enctype="multipart/form-data">			
			<input type='hidden' id='id_expense' name='id' value="{$data.id|default:''}">
			<input type='hidden' name='editstatus' value="{$editstatus}">
			<input type='hidden' id='bulan_expense' value="{$bulan}">
			<input type='hidden' id='tahun_expense' value="{$tahun}">
			
			<fieldset>
			<legend>Expenses Detail</legend>
				<table width='100%'>
					<tr>
						<td width='50%'>
							{include file='template/input_form.html' size='sedang' type='select' tampilan='label' label='Cost Center' name='tbl_loc_id' option={$option_costcenter}} 
							{include file='template/input_form.html' size='sedang' type='text' tampilan='label' label='Account ID' name='account' value={$data.account|default:''} }
							{include file='template/input_form.html' size='sedang' type='text' tampilan='label' label='Account Description' name='descript' value={$data.descript|default:''} }
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Exp. Level' name='exp_level' value={$data.exp_level|default:''} }
						</td>
						<td width='50%'>
							{include file='template/input_form.html' size='sedang' type='select' tampilan='label' label='Month' readonly='disabled' name='bulan' option={$bulan_form} } 
							{include file='template/input_form.html' size='sedang' type='select' tampilan='label' label='Year' readonly='disabled' name='tahun' option={$tahun_form} } 						
						</td>
					</tr>
				</table>
				<table width='100%' style='margin-top:10px;'>
					<tr>
						<td width='50%'>
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' class='duit' align='right' label='Amount' name='amount' value={$data.amount|default:''} }
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' class='duit' align='right' label='Budget' name='budget_1' value={$data.budget_1|default:''} }
							{include file='template/input_form.html' size='sedang' type='select' tampilan='label' label='Cost Type' name='cost_type' option={$cost_type} } 							
							<br/>
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Total Cost' readonly='readonly' name='' value={$amount|default:''}}
						</td>
						<td width='50%'>
							{include file='template/input_form.html' size='sedang' type='select' tampilan='label' label='Resource Driver' name='tbl_rdm_id' option={$option_resourcedriver} }
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Quantity' align='right' name='rd_tot_qty' value={$data.rd_tot_qty|default:''} }
							{include file='template/input_form.html' size='sedang' type='select' tampilan='label' label='Cost Bucket' name='cost_bucket' option={$cost_bucket} } 							
							<br/>
							{include file='template/input_form.html' size='kecil' type='text' tampilan='label' label='Cost Rate' readonly='readonly' name='' }
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
    </div>
	{if $editstatus eq 'edit'}
    <div title="To Activity" style="overflow:auto;padding:10px;">
		<input type='hidden' id='total_percent_act_exp' value="{$total_percent_activity|default:''}">
		<table width='100%' style='margin-bottom:10px;'>
			<tr>
				<td width='50%' valign='top'>
					<label style='width:100px;'>Cost Center</label> : <span class='cost_centersss'></span>
					<br/>
					<label style='width:100px;'>Account ID</label> : {$data.account|default:''}
					<br/>
					<label style='width:100px;'>Account Desc.</label> : {$data.descript|default:''}
				</td>
				<td width='50%' valign='top'>
					<label style='width:100px;'>Total Expense</label> : Rp. {$amount|default:''}
					<br/>
					<label style='width:100px;'>Month</label> : <span class='monthhsss'></span>
					<br/>
					<label style='width:100px;'>Year</label> : <span class='yearrsss'></span>
					<br/>
					<font color='red'>*) Nilai Quantity Tidak Boleh Lebih Besar Dari Res. Driver Qty.</font>
				</td>
			</tr>
		</table>		
		{include file='template/grid_editable.html' crud_table='tbl_are_assignment' main='assign_act_expense' mod={$mod} button_2='true' filter_core='false' tinggi_grid='225px' tinggi_toolbar='30px'}
		<div style='margin-top:3px;border: 1px solid #48A2CA;'>
			<table width='100%'>
				<tr>
					<td width='50%'>
						<table width='100%'>
							<tr>
								<td width='50%'><b>TOTAL PROPORTION</b></td>
								<td width='50%'><b><span id='total_percent_act_exp_txt'>{$total_percent_activity|default:''}</span> %</b></td>
							</tr>
						</table>
					</td>			
					<td width='50%'>
						<table width='100%'>
							<tr>
								<td width='50%'><b>TOTAL COST</b></td>
								<td width='50%'><b>Rp. <span id='cost_activity_expense'>{$total_activity}</span></b></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>    
	</div>
    <div title="To Employee" style="overflow:auto;padding:10px;">
		<input type='hidden' id='total_percent_emp_exp' value="{$total_percent_employee|default:''}">
		<table width='100%'>
			<tr>
				<td width='50%' valign='top'>
					<label style='width:100px;'>Cost Center</label> : <span class='cost_centersss'></span>
					<br/>
					<label style='width:100px;'>Account ID</label> : {$data.account|default:''}
					<br/>
					<label style='width:100px;'>Account Desc.</label> : {$data.descript|default:''}
					<br/>				
				</td>
				<td width='50%' valign='top'>
					<label style='width:100px;'>Month</label> : <span class='monthhsss'></span>
					<br/>
					<label style='width:100px;'>Year</label> : <span class='yearrsss'></span>
					<br/>				
					<font color='red'>*) Nilai Quantity Tidak Boleh Lebih Besar Dari Res. Driver Qty.</font>
				</td>
			</tr>
		</table>			
		<br/>
		{include file='template/grid_editable.html' crud_table='tbl_efx' main='assign_emp_expense' mod={$mod} button_2='true' filter_core='false' tinggi_grid='225px' tinggi_toolbar='30px'}
		<div style='margin-top:3px;border: 1px solid #48A2CA;'>
			<table width='100%'>
				<tr>
					<td width='50%'>
						<table width='100%'>
							<tr>
								<td width='50%'><b>TOTAL PROPORTION</b></td>
								<td width='50%'><b><span id='total_percent_emp_exp_txt'>{$total_percent_employee|default:''}</span> %</b></td>
							</tr>
						</table>
					</td>			
					<td width='50%'>
						<table width='100%'>
							<tr>
								<td width='50%'><b>TOTAL COST</b></td>
								<td width='50%'><b>Rp. <span id='cost_employee_expense'>{$total_employee}</span></b></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>    
    </div>
    <div title="To Assets" style="overflow:auto;padding:10px;">
		<input type='hidden' id='total_percent_ass_exp' value="{$total_percent_assets|default:''}">
		<table width='100%'>
			<tr>
				<td width='50%' valign='top'>
					<label style='width:100px;'>Cost Center</label> : <span class='cost_centersss'></span>
					<br/>
					<label style='width:100px;'>Account ID</label> : {$data.account|default:''}
					<br/>
					<label style='width:100px;'>Account Desc.</label> : {$data.descript|default:''}
					<br/>				
				</td>
				<td width='50%' valign='top'>
					<label style='width:100px;'>Month</label> : <span class='monthhsss'></span>
					<br/>
					<label style='width:100px;'>Year</label> : <span class='yearrsss'></span>
					<br/>				
					<font color='red'>*) Nilai Quantity Tidak Boleh Lebih Besar Dari Res. Driver Qty.</font>
				</td>
			</tr>
		</table>					
		<br/>
		{include file='template/grid_editable.html' crud_table='tbl_efx_assets' main='assign_assets_expense' mod={$mod} button_2='true' filter_core='false' tinggi_grid='225px' tinggi_toolbar='30px'}
		<div style='margin-top:3px;border: 1px solid #48A2CA;'>
			<table width='100%'>
				<tr>
					<td width='50%'>
						<table width='100%'>
							<tr>
								<td width='50%'><b>TOTAL PROPORTION</b></td>
								<td width='50%'><b><span id='total_percent_ass_exp_txt'>{$total_percent_assets|default:''}</span> %</b></td>
							</tr>
						</table>
					</td>			
					<td width='50%'>
						<table width='100%'>
							<tr>
								<td width='50%'><b>TOTAL COST</b></td>
								<td width='50%'><b>Rp. <span id='cost_assets_expense'>{$total_assets}</span></b></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>    
    </div>
	{/if}
	
	{*
    <div title="Expense Source" style="overflow:auto;padding:10px;">
		{include file='template/input_form.html' size='sedang' type='select' tampilan='label' label='Cost Center' name='tbl_loc_id' option={$option_costcenter}} 
		{include file='template/input_form.html' size='sedang' type='text' tampilan='label' label='Account ID' name='account' value={$data.account|default:''} }
		{* {include file='template/input_form.html' size='sedang' type='text' tampilan='label' label='Account Name' name='last' value={$data.last|default:''} } 
		{include file='template/input_form.html' size='sedang' type='text' tampilan='label' label='Account Description' name='descript' value={$data.descript|default:''} }
		
		<br/>
		{include file='template/grid.html' main='exp_source_expenses' mod={$mod} button_2='true' filter_core='false' tinggi_grid='225px' tinggi_toolbar='30px'}
		<div style='margin-top:3px;border: 1px solid #48A2CA;'>
			<table width='100%'>
				<tr>
					<td width='50%'>
						&nbsp;
					</td>			
					<td width='50%'>
						<table width='100%'>
							<tr>
								<td width='50%'><b>TOTAL COST</b></td>
								<td width='50%'><b>Rp. XXX.XXX.XXX</b></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>    
    </div>
	*}
	
</div>
<div style='margin-top:5px;'>
	<a href="javascript:void(0)" style='float:right;' class="l-btn l-btn-small l-btn-plain" group="" id="btnCancel_expenses" onClick="">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Back To List</span><span class="l-btn-icon icon-remove">&nbsp;</span>
		</span>
	</a>	
	&nbsp;&nbsp;&nbsp;			
	<a href="javascript:void(0)" style='float:right;' class="l-btn l-btn-small l-btn-plain" group="" id="btnSimpan_expenses" onClick="">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Save Data</span><span class="l-btn-icon icon-save">&nbsp;</span>
		</span>
	</a>
</div>

<script>
	$(document).ready(function() {
		$(".duit").maskMoney( 'mask' );
		$(".duit").maskMoney( { precision:0, thousands:'.' } );
	} );

	$('.cost_centersss').html($('#tbl_loc_id option:selected').text());
	$('.monthhsss').html($('#bulan option:selected').text());
	$('.yearrsss').html($('#tahun option:selected').text());

	
	$("#tabs_{$main}").tabs({
		height: getClientHeight()-200,
		width: getClientWidth()-280,
		plain: false,
		fit:true
	});
	
	$('#btnSimpan_expenses').on('click',function(){
		if($('#account').val() == ''){
			$.messager.alert('ABC System', "Account Can't Empty!", 'error');
			return false;
		}
		if($('#descript').val() == ''){
			$.messager.alert('ABC System', "Descript Can't Empty!", 'error');
			return false;
		}
		if($('#bulan').val() == ''){
			$.messager.alert('ABC System', "Month Can't Empty!", 'error');
			return false;
		}
		if($('#tahun').val() == ''){
			$.messager.alert('ABC System', "Year Can't Empty!", 'error');
			return false;
		}
	
		loadingna();
		submit_form('form_{$main}_{$acak}',function(r){
			if(r==1){
				$.messager.alert('ABC System', "Data Was Saved", 'info');
			}else{
				$.messager.alert('ABC System', "Data Not Saved", 'error');
				console.log(r);
			}
			
			//$('#employees').addClass('loading');
			//$.post(host+'homex/modul/resource/employees', {},function(r){
			//	$('#employees').removeClass('loading').html(r);
			//});
			
			$('#detil_nya_expenses').html('');
			$('#detil_nya_expenses').hide();
			$('#grid_nya_expenses').show();
			$('#grid_expenses').datagrid('reload');
			
			winLoadingClose();
		});
		return false;
	});
	
	$('#btnCancel_expenses').on('click',function(){
		$('#detil_nya_expenses').html('');
		$('#detil_nya_expenses').hide();
		$('#grid_nya_expenses').show();
		$('#grid_expenses').datagrid('reload');
		return false;
	});
</script>
