<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Activity Based Cost - PT. Pelabuhan Indonesia III</title>
	<link href="" rel="shortcut icon" type="image/x-icon">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content=">
	<meta name="description" content="">
	<META name="Author" content="">
	
	<script type="text/javascript">
		var host = '{$host}';
	</script>
	<link rel="stylesheet" type="text/css" href="{$host}__assets/css/main_style.css">	
	<link rel="stylesheet" type="text/css" href="{$host}__assets/easyui/themes/gray/easyui.css">
	<link rel="stylesheet" type="text/css" href="{$host}__assets/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="{$host}__assets/css/table.css">	
	<script type="text/javascript" src="{$host}__assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="{$host}__assets/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="{$host}__assets/js/fungsi.js"></script>
</head>
<body id="bodyHt"  fit="true" style="overflow: hidden;border:none;">
	<div region="north" border="false" style="position: relative; background:#F3F3F3; height:60px; overflow:hidden;">
		<div style='padding:10px;width:100%'>
			<img src='{$host}__assets/images/logo_pelindo.png'>
		</div>
	</div>
	<div region="west"  fit='false' border="false" title="Navigation" style="width:255px;padding:1px 0px 0px 0px;">
		<div id="accordionMenu" fit="true" class="easyui-accordion" style="width:240px;">
			 {include file="main-menu.html"}
		</div>
	</div>
	<div id="mainContainer" fit='true' region="center" style="background:#fff; border-bottom:1px dotted #ccc; padding:5px 5px 5px 5px;">
		
	</div>
	<div region="south" border="true" style='background-color:#246799;'>
        <div style="text-align: center; padding:5px">
		  <a href="#" style="font-weight: bold; color: #FFFFFF; text-decoration: none;">
			ACTIVITY BASED COST SYSTEM - PT. PELABUHAN INDONESIA III
			&nbsp;&copy;&nbsp;2015&nbsp;
		  </a>
	   </div>
    </div>
</body>
</html>