<div title="Dashboard" iconCls="" style="padding:5px;">
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="Realisasi_PBB_KB" onClick="loadUrl(this, '{$host}home/getdisplay/dashboard/realisasi/main/');" >Dashboard Application</a>
</div>
<div title="Setting" iconCls="" style="padding:5px;">
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="icon-group_key" onClick="loadUrl(this, '{$host}home/getdisplay/setting/user_level/main/');" >User Level</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="icon-group" onClick="loadUrl(this, '{$host}home/getdisplay/setting/user_manajemen/main/');" >User Manajemen</a>
</div>
