<form method='post' url="{$host}home/crud_na/" id="form_{$main}" enctype="multipart/form-data">
	<div style="padding:10px;">
		<fieldset style='width:88.5%'>
			<div style="float:left;width:30%;margin-left:0px;">
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td width='34%'>FTE</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" value="" name="" id="" style='width:30%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td width='34%'>Process Level</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" value="" name="" id="" style='width:20%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
				</table>
			</div>
			<div style="float:left;width:30%;">
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td width='34%'>Value Added %</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" value="" name="" id="" style='width:30%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td width='34%'>Cycle Time</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" value="" name="" id="" style='width:30%;padding:2px;' class="easyui-validatebox">
							Days
						</td>
					</tr>
				</table>
			</div>
			<div style="float:left;width:30%;">
				<br/>
				<a href="javascript:void(0)" class="l-btn l-btn-small " group="" id="" onClick="">
					<span class="l-btn-left">
						<span class="l-btn-text">Setup</span>
					</span>
				</a> 
			</div>
		</fieldset>
		
		<div style="float:left;width:45%; margin-right:5px;">
			<fieldset>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td width='34%'>Attribute 1</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<select name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox"></select>
						</td>
					</tr>
					<tr>
						<td width='34%'>Attribute 2</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<select name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox"></select>
						</td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div style="float:left;width:45%;">
			<fieldset>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td width='34%'>User Defined 1</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td width='34%'>User Defined 2</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
				</table>
			</fieldset>
		</div>
		
		<div style="float:left;width:45%;margin-right:5px;">		
			<fieldset>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td width='34%'>Fixed</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" disabled value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td width='34%'>Variable</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" disabled value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td width='34%'>&nbsp;</td>
						<td width='1%'>&nbsp;</td>
						<td width='75%'>
							<input type="text" disabled value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td width='34%'>&nbsp;</td>
						<td width='1%'>&nbsp;</td>
						<td width='75%'>
							<input type="text" disabled value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td width='100%' colspan='3'><hr/></td>
					</tr>
					<tr>
						<td width='34%'>Total Cost</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" disabled value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>					
				</table>
			</fieldset>
		</div>
		<div style="float:left;width:45%;">		
			<fieldset>
				<table width='100%' style='margin-bottom:20px;'>
					<tr>
						<td width='34%'>Excess Capacity $</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td width='34%'>Non-Value Added $</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td width='34%'>Root Cause $</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" disabled value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td width='34%'>Root Cause %</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" disabled value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
					<tr>
						<td width='34%'>Scenario Change</td>
						<td width='1%'>:</td>
						<td width='75%'>
							<input type="text" disabled value="" name="" id="" style='width:90%;padding:2px;' class="easyui-validatebox">
						</td>
					</tr>
				</table>
			</fieldset>
		</div>
	</div>
</form>